<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>
</head>
<body>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div style="border: 25px;width: 80vh;height: 60vh;" id="chart_div"></div>
      
  <script>
    
          function Data(){
              var l = {{ data|safe }} ;
              var d=[];
              for(let i=0;i<l.length;i++)
                d.push([new Date(l[i][0]),l[i][1]]);
              return d;
              }
              google.charts.load('current', {packages: ['corechart', 'bar']});
              google.charts.setOnLoadCallback(drawMultSeries);  
          function drawMultSeries() {
                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Time');
                data.addColumn('number', 'Activity');

                data.addRows(Data());
                var date_range = {{ date_range|safe }}

                var options = {
                  title: 'Motivation and Energy Level Throughout the Day',
                  hAxis: {
                    title: 'Time',
                    viewWindow: {
                      min: new Date(date_range["min"]),
                      max: new Date(date_range["max"]) 
                    }
                  },
                  vAxis: {
                    title: 'Work Intensity'
                  }
                };

                var chart = new google.visualization.ColumnChart(
                  document.getElementById('chart_div'));

                chart.draw(data, options);
              }
  </script>
    
</body>
</html>