<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard__</title>
</head>
<body>
    
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script>
        var a;
        const req = new XMLHttpRequest();
        req.responseType = 'json';
        // req.open('GET', 'https://sumitapi2.herokuapp.com/user_list/');
        
        req.open('GET', 'https://sumitapi2.herokuapp.com/dataset/sumitskr');
        req.onload = () => {
        console.log(req.response);
        var arr = req.response;
        a=arr;
        };
        
        req.send();

</script>